[submodule "libs/terraphast"]
	path = libs/terraphast
	url = https://github.com/harmslab/terraphast-one
[submodule "libs/coraxlib"]
	path = libs/coraxlib
	url = https://github.com/harmslab/coraxlib
	branch = dev
